{% extends 'base.html' %}

{% load static %}



{% block content %}

  <!-- ======= About Section ======= -->
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>About Nova Credit Bank</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#">
                <h4 class="sec-head">Expect more</h4>
              </a>
              <p>
                We are so much more than a bank. We are a financial services partner for consumers, businesses and wealth clients alike. While our origins are humble, we have grown alongside our clients for more than a century.We have unwavering confidence in our ability to build strong relationships, provide diverse expertise and services, and invest in the communities we serve. Our core vision is as follows:
              </p>
              <ul>
                <li>
                  <i class="bi bi-check"></i> Expect a relationship, not transactions
                </li>
                <li>
                  <i class="bi bi-check"></i> We believe delivering peace of mind is an important part of your financial growth. 
                </li>
                <li>
                  <i class="bi bi-check"></i>  We offer you a personal relationship with a team of experts who get to know you and your needs
                </li>
                <li>
                  <i class="bi bi-check"></i>  Meeting our clients' diverse financial planning and investment needs is our number one priority
                </li>
                <li>
                  <i class="bi bi-check"></i> Getting an account can help you achieve your dreams, from education to home renovation. 
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div><!-- End About Section -->

{% endblock %}